{% extends 'base.html.twig' %}

{% block title %}{{parent()}}{% endblock %}

{% block body %}
    <table>
        <tr>
            <td colspan="2"><div class="imagen3"><h1>Agenda</h1></div></td>
            <td><form class="imagen1" action="añadir.php" method="get">
        <a href="nuevo">Agregar</a>
            <a href="/">Volver</a>
    </form></td>
        </tr>
        <tr>
            <td><div class="imagen1"><h1>Mi agenda personal</h1><a title="profesioanl" href="/datospf"><img src="../img/personal.jpg"/></a></div></div></td>
            <td><div class="imagen2"><h1>Mi agenda</h1><a title="profesioanl" href="/datos"><img src="../img/general.jpg"/></a></div></td>
            <td><div class="imagen2"><h1>Mi agenda profesional</h1><a title="profesioanl" href="/datospr"><img src="../img/profesional.jpg"/></a></div></td>
        </tr>
        <tr>
            <td colspan="3"><div id="pie">
        <h3>Redes Sociales</h3>
        <div class="subpie">
            <img src="../img/twitter.png" width="5%"/>
            <img src="../img/youtube.png" width="5%"/>
            <img src="../img/facebook.png" width="5%"/>
        </div></td>
        </tr>
    </table>
{% endblock %}
